:root {
    --primColor: #f4f4f4d3;
    --secoColor: #ee534090;
    --shadColor: #3c1053;
    --textColor: #1C1C1C;
    --textButtonColor: #3c1053;
    --spWidth: 24%;
    --marTop: 4px;
    --maxZindex: 2;
}

@font-face {
    font-family: 'distroy23';
    src: local('fonts/distroy23'), 
        url('distroy.23.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'balmont';
    src: local('balmont'), 
        url('fonts/Balmont Deco.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'yanone';
    src: local('yanone'), 
        url('fonts/YanoneKaffeesatz.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

body {
    background-color: var(--primColor);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: var(--textColor);
    margin: 0;
    padding: 0;
}

/* Основное меню---------------------------------------------------------*/
.map {
    position: fixed;
    display: inline;
    z-index: 0;
    height: 100%;
    width: calc(100% - var(--spWidth));
    right: 0;
}

.sidepanel {
    position: fixed;
    display: inline-block;
    left: 0;
    z-index: var(--maxZindex)-1;
    top: 0;
    height: 100%;
    width: var(--spWidth);
    background-color: var(--primColor);
}

.layersBlock {
    position: fixed;
    display: inline-block;
    z-index: var(--maxZindex)-1;
    left: var(--spWidth);
    height: 100%;
    margin: 8px; 
}

.log {
    position: fixed;
    height: 20%;
    width: calc(var(--spWidth) - 36px);
    bottom: 0;
}
.log button {
    position: fixed;
    bottom: 12px;
}

/* Боковое меню---------------------------------------------------------*/
.sidepanel-item{
    margin-top: var(--marTop);
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
}

.sidepanel-button{
    margin-right: 4px;
    padding: 4px;
    background-color: var(--secoColor);
    border: 1px solid var(--shadColor);
    border-radius: 4px;
    color: var(--textColor);
}
.sidepanel-button:hover {
    color: var(--primColor);
    box-shadow: 0 0 4px var(--shadColor);
    -moz-box-shadow: 0 0 4px var(--shadColor);
    -o-box-shadow: 0 0 4px var(--shadColor);
    -ms-box-shadow: 0 0 4px var(--shadColor);
    -webkit-box-shadow: 0 0 4px var(--shadColor);
} 
.sidepanel-button:disabled {
    color: var(--textColor);
    background-color: var(--primColor);
    counter-reset: var(--textColor);
    box-shadow: none;
}

.load {
    display: inline-block;
    margin-top: var(--marTop);
    min-width: 120px;
}

#images-hide {
    display: block;
    width: 100%;
    margin-top: var(--marTop);
}

.butRight {
    overflow: hidden;
}

.butRight label {
    display: inline-block;
    width: calc(100% - 88px);
    margin-top: var(--marTop);
}

.butRight button {
    display: inline-block;
    width: 80px;
    height: 24px;
    margin-top: var(--marTop);
    margin-bottom: 2px;
}

/*.sidepanel-button-undo {
    background-color: var(--secoColor);
    border: 1px solid var(--shadColor);
    border-color: var(--shadColor);
    color: var(--textButtonColor);
}
.sidepanel-button-undo:hover {
    box-shadow: 0 0 4px var(--shadColor);
    -moz-box-shadow: 0 0 4px var(--shadColor);
    -o-box-shadow: 0 0 4px var(--shadColor);
    -ms-box-shadow: 0 0 4px var(--shadColor);
    -webkit-box-shadow: 0 0 4px var(--shadColor);
} */

.checkbox {
    position: relative;
    display: flex;
    margin: 0;
}
.checkbox-switch {
	position: relative;	
	display: inline-block;
	box-sizing: border-box;	
	margin-left: auto;		
	width: 52px;	
	height: 24px;
	border: 1px solid var(--primColor);
	border-radius: 25%/50%;	
	vertical-align: top;
	background: #eee;
	transition: .2s;
}
.checkbox-switch:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;	
	display: inline-block;
	width: 20px;	
	height: 20px;
	border-radius: 50%;
	background: var(--secoColor);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	transition: .15s;
}

.checkbox input[type=checkbox] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox input[type=checkbox]:not(:disabled):active + .checkbox-switch:before {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}
.checkbox input[type=checkbox]:checked + .checkbox-switch {
	background: var(--shadColor);
}
.checkbox input[type=checkbox]:checked + .checkbox-switch:before {
	transform:translateX(28px);
}

/* Hover */
.checkbox input[type="checkbox"]:not(:disabled) + .checkbox-switch {
	cursor: pointer;
	border-color: rgba(0, 0, 0, .3);
}

/* Disabled */
.checkbox input[type=checkbox]:disabled + .checkbox-switch {
	filter: grayscale(70%);
	border-color: rgba(0, 0, 0, .1);
}
.checkbox input[type=checkbox]:disabled + .checkbox-switch:before {
	background: var(--primColor);
}


.fileName .req:invalid {
    border: 1px solid var(--shadColor);
    background-color: var(--secoColor);
}
.fileName .req:valid {
    border: 1px solid var(--textColor);
}
.fileName label {
    color: var(--textColor);
    display: block;
}
.fileName input {
    display: block;
    border: 1px solid var(--textColor);
    color: var(--textColor);
    padding: 7px 7px 8px;
    margin-top: var(--marTop);
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.fileName input:focus {
    outline: none;
    border-color: var(--secoColor);
}

.input-button {
    overflow: hidden;
}

.input-button label {
    display: block;
    color: var(--textColor);
    margin-top: var(--marTop);
}

.input-button input {
    display: inline-block;
    width: calc(100% - 88px);
    height: 24px;
    margin-top: var(--marTop);
    margin-bottom: 2px;
}

.input-button button {
    display: inline-block;
    width: 80px;
    height: 24px;
    float: right;
    margin-top: var(--marTop);
}

.features-select {
    display: flex;
}

.features-select select {
    margin-left: var(--marTop);
    width: calc(100% - 8px);
}
.features-select input {
    width: 100%;
}
.features-select button {
    width: 80px;
    margin-left: 4px;
}

/*Кнопочное меню---------------------------------------------------------*/
/*https://www.svgrepo.com/collection/zwicon-line-icons/*/

.layersBlock button {
    display: block;
    margin-top: var(--marTop);
    width: 26px;
    height: 26px;
    padding: 2px 2px;
    background-color: var(--primColor);
    border: 1px solid var(--secoColor);
    border-radius: 2px;
    color: var(--textColor);
}

/*#home-page {
    position: relative;
    width: 24px;
    height: 24px;
    border: 0px solid var(--primColor);
    background: url('./svg_files/rocket.svg') no-repeat 0 0;
    background-size: 99%; 
    background-position: 3px;
    background-color: var(--primColor);
}*/

#button-home {
    background: url('./svg_files/rocket.svg') no-repeat 0 0;
    background-size: 80%; 
    background-position: 3px;
    background-color: var(--primColor);
}

#button-mouse {
    background: url('./svg_files/mouse.svg') no-repeat 0 0;
    background-size: 80%; 
    background-position: 3px;
    background-color: var(--primColor);
}

#button-point {
    background: url('./svg_files/point.svg') no-repeat 0 0;
    background-size: 95%; 
    background-color: var(--primColor);
}

#button-linestring {
    background: url('./svg_files/linestring.svg') no-repeat 0 0;
    background-size: 95%; 
    background-color: var(--primColor);
}

#button-box {
    background: url('./svg_files/box.svg') no-repeat 0 0;
    background-size: 95%; 
    background-color: var(--primColor);
}

#button-polygon {
    background: url('./svg_files/polygon.svg') no-repeat 0 0;
    background-size: 105%; 
    background-color: var(--primColor);
}

#button-move {
    background: url('./svg_files/move.svg') no-repeat 0 0;
    background-size: 95%; 
    background-color: var(--primColor);
}

#button-uploadFile {
    background: url('./svg_files/uploadFile.svg') no-repeat 0 0;
    background-size: 95%; 
    background-color: var(--primColor);
}

/*#button-uploadImage {
    background: url('./svg_files/uploadImage.svg') no-repeat 0 0;
    background-size: 95%; 
    background-color: var(--primColor);
}*/

/*#button-download {
    background: url('https://www.svgrepo.com/show/379357/download.svg') no-repeat 0 0;
    background-size: 95%; 
    background-color: var(--primColor);
}
*/

summary {
    margin-top: var(--marTop);
    text-align: center;
    padding: 2px 2px;
    width: 20px;
    height: 20px;
    background-color: var(--primColor);
    border: 1px solid var(--secoColor);
    border-radius: 2px;
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
}
summary::before ,
summary::after {
    position: static;
    content:"";
}
summary::before {
    content: "";
}
summary::after {
    position: static;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
    background: url('./svg_files/layers.svg') no-repeat 0 0;
    background-size: 100%;
}
summary::marker {
    font-size: 0;
}
summary::-webkit-details-marker {
    display: none;
}

details[open] .layers {
    margin-top: 4px;
    animation-name: layersAnim;
}
details[open] summary::before {
    content: "";
}
details[open] summary::after {
    content: "";
}

.layers {
    height: 0;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid var(--secoColor);
    background-color: var(--primColor);
    /*box-shadow: 0 4px 8px 0 var(--shadColor);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
}
.layers ul{
    list-style-type: none;
    padding: 0;
    margin-top: 4px;
}
.layers li{
    display: block;
    color: var(--textColor);
    padding: 8px 16px;
    text-decoration: none;
    text-align: left;
    transition: filter 200ms linear 0s;
}
.layers li:hover {
    background-color: var(--secoColor);
    color: var(--textButtonColor);
}
.layers li:active{
    background-color: var(--shadColor);
}
.layers li a {
    display: block;
}
.layers li a:active{
    color: var(--secoColor);
}

.layers li:nth-of-type(1) {
    padding-top: 4px;
}
.layers li:nth-last-of-type(1) {
    border-bottom: none;
}
details[open]::before {
  animation: fadeMe 300ms linear forwards;
}
@keyframes layersAnim {
    0% {
        height: 0;
    }
    100% {
        height: 164px;
    }
}
@keyframes fadeMe {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.4;
    }
}

.layers a{
    text-decoration: none;
    color: var(--textColor);
}
.layers a:hover{
    color: var(--textButtonColor)
}